@charset "UTF-8";

h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.337);
}

body {
    background-color: rgb(0, 98, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    background-color: white;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem 0.7rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.436);
}

#preview {
    width: auto;
    height: 11.5rem;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0 0 0.5rem;
    gap: 0.4rem;
}

#calcButton {
    width: 7rem;
}